<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-facebook"></i>
            <a href="https://www.instagram.com/shivananda020?igsh=MXEweWZ2a2FrcHU4Ng==" target="_blank" style="color: black;"><i class="fa-brands fa-instagram"></i></a>
            <i class="fa-brands fa-twitter"></i>
            <a href="https://www.linkedin.com/in/shivanandakupnoor/" target="_blank" style="color: black;"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div>
            &copy; ನಮ್ಮNest Pvt Limited
        </div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/Terms">Terms</a>
        </div>
    </div>
</footer>

